footer {
    background-color: var(--primary-color);
    color: var(--primary-text);
    .nav-link {
        color: var(--primary-text);
        transition: 0.5s;
        padding: 0;
    }
    .nav-link:hover {
        color: var(--secondary-text);
    }
}