header {
    color: var(--primary-text);
    background-color: var(--primary-color);
    a {
        text-decoration: none;
    }
    .nav-link {
        color: var(--primary-text);
        transition: 0.5s;
    }
    .nav-link:hover {
        color: var(--secondary-text);
    }
}